.container {
  margin: auto;
}
.slider {
  box-sizing: border-box;
  font-family: "Arial Black";
  height: 260px;
  margin: auto;
  overflow-x: hidden;
  padding-top: 230px;
  position: relative;
  text-align: center;
  width: 900px;
}
.slider__group {
  font-size: 0;
  left: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}
.slider__item {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  text-align: left;
  width: 200px;
}
.slider__item:hover {
  z-index: 1;
}
.slider__item figcaption {
  display: none;
  font-size: 10px;
  padding-top: 10px;
}
.slider__wrapper {
  background: #fff;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.slider__wrapper:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  left: -10px;
  padding: 10px;
  right: -10px;
  top: -10px;
}
.slider__wrapper:hover figcaption {
  display: block;
}
.slider__img {
  display: block;
  margin: auto;
  max-height: 150px;
  max-width: 100%;
}
.slider__description {
  display: none;
  white-space: normal;
}
.slider #group-1:checked ~ .slider__group {
  left: 10px;
  transition: left 1s;
}
.slider #group-2:checked ~ .slider__group {
  left: -650px;
  transition: left 1s;
}
.slider #group-3:checked ~ .slider__group {
  left: -1310px;
  transition: left 1s;
}
.slider #group-4:checked ~ .slider__group {
  left: -1970px;
  transition: left 1s;
}
.modal {
  background: rgba(128,128,128,0.8);
  bottom: 0;
  color: #fff;
  display: none;
  font-family: Arial;
  font-size: 13px;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.modal__description {
  margin: 0;
  max-width: 50%;
}
.modal__img {
  height: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  width: 400px;
}
.modal__img img {
  max-width: 100%;
  max-height: 100%;
}
.modal__close {
  height: 32px;
  opacity: 0.3;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
}
.modal__close:hover {
  opacity: 1;
}
.modal__close:before {
  transform: rotate(45deg);
}
.modal__close:after {
  transform: rotate(-45deg);
}
.modal__close:before,
.modal__close:after {
  background-color: #fff;
  content: ' ';
  height: 33px;
  left: 15px;
  position: absolute;
  width: 2px;
}
.modal__controller {
  display: none;
}
.modal__controller {
  display: none;
}
.modal__controller:checked + .modal {
  display: block;
}
